.header-nav {
  background-color: #d5a7f0;
  height: 6.25rem;
  width: 100%;
}

.nav {
  line-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1, 2px solid #fff;
  max-width: 992px;
  margin: 0 auto;
}

/*INICIO DEL TEXTO DANDELION*/
.Logo {
  color: rgb(22, 20, 20);
  font-size: 1.875rem;
  padding: 0 4.375rem;
  animation-name: aparecer;
  animation-duration: 3s;
}
/*fin del texto DANDELION*/

.Menu {
  display: flex;
  list-style: none;
  margin-right: 1.563rem;
  text-decoration: none;
}
/*copiar esto*/
.nav-menu-li-a {
  list-style: none;
  text-decoration: none;
  font-size: 0.938rem;
  padding: 0.375 0.313rem;
  text-transform: uppercase;
  animation-duration: 3s;
  animation-name: aparecer;
  width: max-content;
}

.nav-menu-li-a a {
  padding: 0.313rem 0.313rem;
  list-style: none;
  text-decoration: none;
  color: rgb(17, 16, 16);
}

.nav-menu-li-a a:hover {
  color: rgb(17, 16, 16);
  background-color: rgba(26, 30, 51, 0.3);
  transition: 0.7s;
}
